:root {
    --blue: #467BC7;
    --black: #2F3631;
    --orange: #C2774C;
    --yellow: #E0D584;
    --purple: #B33FD4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

header {
    padding: 20px 35px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    top: 0;
    flex-direction: row;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

header h1 {
    font-weight: 500;
    margin: 0;
    justify-content: flex-start;
    font-size: 28px;
    color: var(--yellow);
}

header a {
    text-decoration: none;
}

header nav {
    margin: 5px 3px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
}

header nav ul li a {
    padding: 10px 15px;
    border-left: solid white;
    margin: 4px;
    color: var(--yellow);
    font-size: 18px;
}

.logo {
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.about {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.about-first-line {
    padding: 8px;
    font-size:110%;
    color: var(--orange);
}

.about-second-line {
    padding: 8px;
    font-size: 200%;
    color: white;
}

.about-third-line {
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 35px;
    padding-left: 8px;
    font-size: 120%;
    color: var(--yellow);
    text-align: center;
    border-bottom: 5px solid var(--blue);
}

section h2 {
    margin-left: 10px;
    color: var(--yellow);
}

.featured {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.cardmain {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: var(--blue);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: .5s ease;
    cursor: pointer;
}

.card {
    display: grid;
    grid-template-columns: 260px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "image" "text";
    border-radius: 18px;
    background: var(--blue);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
    transition: .5s ease;
    cursor: pointer;
}

.card-image1 {
    grid-area: image;
    background-image: url(../images/run-buddy.png);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.card-image2 {
    grid-area: image;
    background-image: url(../images/blurred.jpg);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: var(--orange);
    font-size: 18px;
}

.card-text p {
    color: var(--black);
    font-size: 20px;
    font-weight: 300;
}

.card-text h2 {
    margin-top: 0px;
    font-size: 28px;
}

.cardmain:hover {
    transform: scale(1.3);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.contactcontainer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.contactlinks {
    display: flex;
    justify-content: space-around;
    margin: 80px;
    margin-right: 80px;
    text-align: center;
}

.contactlinks strong {
    font-size: 120%;
    color: var(--orange);
}

.link {
    margin-right: 100px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: var(--yellow);
}

